 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: rgb(196, 176, 147);
 }
 
 header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: #2a9d8f;
  color: white;
  padding: 0px 20px;
 }
 
 header img {
  width: 100px;
  height: 100px;
 }
 
 header h1 {
  font-size: 24px;
 }
 
 nav {
  display: flex;
  gap: 1rem;
  margin-left: auto;
 }
 
 nav a{
  transition: 0.3s;
  color: white;
  text-decoration: none;
  background-color: rgb(123, 221, 188);
  border:rgb(72, 110, 98) solid 0.2rem;
  padding: 0.5rem;
  border-radius: 0.6rem;
 }

 nav a:hover{
  color: rgb(0, 0, 0);
  text-decoration: none;
 }
 
 main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(196, 176, 147);
 }
 
 main img {
  width: 30rem;

 }
 
 section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
 }
 
 h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 1rem;
 }
 
 article {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
 }
 
 article h3 {
  font-size: 18px;
 }

 .article_title_rules{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
 }

 .article_rules{
  display: flex;
  align-items: start;
  padding-top: 20px;
 }
 
 .article_rules > h3 {
  padding-bottom: 10px;
}

.div_upcoming{
  justify-content: ;
  display: flex;
  flex-direction: row-reverse;
  gap: 4rem;
}

.div_about{
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 4rem;
  width: 70%;
}

 .article_registration{
  display: flex;
  align-items: center;
 }

 article p {
  font-size: 16px;
 }

 ol{
  padding-left: 1rem;
 }

 li{
  padding: 0.5rem;
 }

 ul{
  padding-left: 3rem;
 }

 .li_tipe_a{
  padding: 0.2rem;
 }

 .span_li{
  font-weight: bold;
 }

 .table{
  display: flex;
  align-items: center;
 }

 td{
  padding: 0.5rem;
  border: #2a9d8f solid 0.1rem;
 }
 
 .p-g-i{
  padding-top: 1rem;
 }

 .form_registration-1{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  border-radius: 2rem;
  padding: 1rem;
  gap: 0.5rem;
  width: 30rem;
  border: none;
 }

 .form_registration{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  border-radius: 2rem;
  padding: 1rem;
  gap: 0.5rem;
  width: 30rem;
 }

 .form_registration_grade{
  display: flex;
  background-color: aqua;
  border-radius: 2rem;
  padding: 1rem;
  gap: 1rem;
  width: 30rem;
 }

 .form_registration_gender{
  display: flex;
  background-color: aqua;
  border-radius: 2rem;
  padding: 1rem;
  gap: 1rem;
  width: 30rem;
 }

 .form_registration_4{
  display: flex;
  background-color: aqua;
  border-radius: 2rem;
  padding: 1rem;
  gap: 1rem;
  width: 30rem;
 }

 .h3_registration{
  font-size:15px;
 }

 .h2_maps{
  display: flex;
  align-items: center;
  padding: 1rem;
 }

 .div_maps{
  border: #2a9d8f 2px solid;
  padding: 0.5rem;
  background-color: blanchedalmond;
 }
 
 .h3_maps{
  padding-bottom: 1rem;
 }

 .maps{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
 }