*{
  padding: 0;
  margin: 0;
}

.image2{
  width: 70vw;
  height: 20vh;
  padding: 0;
  margin: 0;
}



.navbar{
  position: absolute;
  padding: 0;
  margin: 0;
  height: fit-content;
  width: 100%;
  text-align: end;
  z-index: 5;
  top: 2.5rem;
}

.navbar > a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(25, 160, 170);
  padding: 0.5vh;
  text-align: center;
  border-radius: 3px;
}

.header > h2{
  text-align: center;
}

.logo{
  width: 150px;
  display: inline-block;
}

main{
  text-align: center;
}

section{
  display: inline-block;
  text-align: start;
  padding-left: 58px;
}